<div class="card l">
  <h1>Ejemplo de directiva propia</h1>
  <hr>
  <p>Lorem 
    <span appGlosario class="glosario">
      ipsum<span class="definicion">esta palabra significa bla bla bla</span>
  </span>  
  dolor sit, amet consectetur adipisicing elit. Esse asperiores earum recusandae? Asperiores perferendis eligendi tempore, iusto officiis assumenda adipisci vitae sit obcaecati reprehenderit, dolores nobis et. Quam, modi dicta! Hic praesentium architecto inventore qui, ex atque deleniti magni iure recusandae aut eius dolores necessitatibus quos quibusdam aliquid consequuntur quasi?
  </p>
</div>
